.project-messages{
	list-style-type: none;
	margin: 0;
	padding: 0;

	li{
		padding: 10px 0;
		border-bottom: 1px #EEE solid;

		a{
			font-weight: bold;
		}

		&:hover{
			background-color: #EEE;
		}
	}

	li.read{
		color: grey;

		a{
			color: inherit;
			font-weight: normal;
		}
	}
}

@import "icon/*.png";
@include all-icon-sprites;

.icon-sprite{
	width: 16px;
	height: 16px;
	display: inline-block;
}