html, body{
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial;
	font-size: 0.9em;
}

p.message{
	font-size: 1em;
	display: block;
	margin-top: 5px;
	height: 110px;
	overflow: hidden;
}

textarea.msg{
	height: 150px;
	width: 100%;
	margin-top: 10px;
	border: 1px #EEE solid;
	margin-bottom: 10px;
	display: block;
}

.brand{
	font-size: 0.8em;
	margin: 3px 0;
	color: #CCC;
}

// .highlight-cancel{
// 	display: none;
// }

.actions{
	position: absolute;
	bottom: 0;
	left: 0;
	table{
		margin: 0 1em;
	}
}