/* line 7, ../scss/app.scss */
.feedback-cont {
  background-color: #EEE;
  color: #000;
  display: none;
}
/* line 12, ../scss/app.scss */
.feedback-cont .buttons {
  padding: 0 0.5em;
  background-color: #333333;
}
/* line 16, ../scss/app.scss */
.feedback-cont .buttons.rounded {
  border-radius: 0.5em 0.5em 0 0;
}
/* line 20, ../scss/app.scss */
.feedback-cont .buttons button {
  display: block;
  width: 100%;
  height: 32px;
  padding: 0 1.5em;
  background-color: #333333;
  color: white;
}
/* line 30, ../scss/app.scss */
.feedback-cont .feedback-body {
  display: none;
  height: auto;
}
/* line 34, ../scss/app.scss */
.feedback-cont .feedback-body.open {
  border: 1px solid #CCC;
  background-color: #FFF;
  border-radius: 0.5em 0.5em 0 0.5em;
}
/* line 40, ../scss/app.scss */
.feedback-cont .feedback-body.note {
  height: 160px;
}
/* line 44, ../scss/app.scss */
.feedback-cont .feedback-body .help {
  background-color: blue;
  color: #FFF;
  padding: 0 5px;
  font-weight: bold;
}
/* line 50, ../scss/app.scss */
.feedback-cont .feedback-body label {
  width: 25%;
  float: left;
  display: block;
}
/* line 55, ../scss/app.scss */
.feedback-cont .feedback-body label.full {
  display: block;
}
/* line 59, ../scss/app.scss */
.feedback-cont .feedback-body input {
  width: 75%;
}
/* line 60, ../scss/app.scss */
.feedback-cont .feedback-body textarea {
  width: 100%;
  min-height: 100px;
}

@media (min-width: 641px) {
  /* line 66, ../scss/app.scss */
  .feedback-cont {
    position: fixed;
    bottom: 0;
    right: 3%;
  }
  /* line 71, ../scss/app.scss */
  .feedback-cont .buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 28px;
  }
  /* line 77, ../scss/app.scss */
  .feedback-cont .buttons button {
    height: 28px;
    border: none;
    width: 100%;
  }
  /* line 85, ../scss/app.scss */
  .feedback-cont .feedback-body {
    display: none;
    position: absolute;
    bottom: 28px;
    right: 0;
    width: 600px;
    padding: 0 0.5em;
    box-shadow: -1px 1px 2px #CCC;
  }
}
@media (max-width: 640px) {
  /* line 99, ../scss/app.scss */
  .feedback-cont {
    position: static;
    bottom: none;
    left: 0;
    width: 100%;
  }
  /* line 105, ../scss/app.scss */
  .feedback-cont .buttons {
    position: static;
  }
  /* line 107, ../scss/app.scss */
  .feedback-cont .buttons button {
    display: block;
  }
  /* line 112, ../scss/app.scss */
  .feedback-cont .feedback-body {
    position: static;
    bottom: none;
    right: none;
    width: 100%;
  }
}
