<div ng-include src="'/dashboard/views/partials/message-header.html'"></div>

<div class="row">
	<div class="col-sm-12">
		<strong>Posted: </strong> {{message.created_at}}
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<strong>Source: </strong> {{message.ip}} <span ng-show="message.fullName">&nbsp;&mdash;&nbsp;{{message.fullName}}</span>
	</div>
</div>

<div class="row" ng-show="message.info">
	<div class="col-sm-12">

		<span ng-show="isOpera()" class="icon-opera" title="{{message.info.browserFull}}">&nbsp;</span>
		<span ng-show="isAndroid()" class="icon-android" title="{{message.info.osFull}}">&nbsp;</span>
	</div>
</div>

<br />

<p>{{message.content}}</p>

<div class="panel panel-default meta-cont">
<div class="panel-heading">Device info</div>
	<ul class="no-bullets">
		<li ng-repeat="(title, meta) in message.meta">
			{{title}} - <span class="label label-default">{{meta}}</span>
		</li>
	</ul>
</div>