<div class="project-filters" ng-controller="ProjectFilterMessagesCtrl" ng-show="toggle">
	<input type="text" placeholder="Search..." ng-model="filters.q" />
	<dl>
		<dt>Browser</dt>
		<dd>
			<ul>
				<li ng-repeat="browser in filters.browsers">
					<span class="icon-{{browser.term}}"></span>&nbsp;<input type="checkbox" ng-model="filters.browsers[$index].selected"> <span style="text-transform: capitalize">{{browser.term}}</span> <span>({{browser.count}})</span>
				</li>
			</ul>
		</dd>
	</dl>
	<button type="button" class="btn btn-secondary btn-sm" ng-click="filter()">Filter</button>
	<button type="button" class="btn btn-link btn-sm">Cancel</button>
</div>