<div ng-include src="'/dashboard/views/partials/project-header.html'"></div>
<p>{{project.description}}</p>

<label>Snipplet: </label> Copy in the head or body your webpage 
<textarea style="min-height: 400px; width: 100%">
<script type="text/javascript">
	var _feedback = _feedback || {};
	_feedback.project = '{{project.public_id}}';
	_feedback.widgets = ['feedback'];
	_feedback.host = '{{project.host}}';
	_feedback.label = 'Feedback';
	_feedback.inline = ''

	(function(){
		var fb = document.createElement('script'); 
		fb.type = 'text/javascript'; 
		fb.async = true; 
		fb.src = ('https:' == window.location.protocal ? 'https://' : 'http://') + _feedback.host +'/fb.js';
		document.body.appendChild(fb);
	})();
</script>
</textarea>